@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.cont {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0;
    position: relative;
}

.header {
    width: 100%;
}

.main-div {
    height: 100%;
}

form {
    width: 100%;
}

body {
    background-color: rgba(0, 0, 0, 1);
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none !important;
}

